body {
    margin: 0;
    background-color: rgb(38, 37, 41);
    color:rgb(170, 178, 184);

}
header{
    background-color:red;
    color : white;
    padding:  3rem 2rem;
}

#title{
font-size: 3rem;
text-align: center;
}

.container{
width: 400px;
margin: 0 auto;
}

.container .post{
    background-color: red;
    margin: 1rem 0;
    border-radius: 12px;
    padding: 0.25rem 0;
    transition: box-shadow 1s ease-out;
}

section article h2, section article p{
    margin: 2rem;
}

section article img{
    width: 400px;
}

.container .post:hover{
    box-shadow: 0 0.1rem 0.4rem white
}